@font-face{
    font-family: "PlayfairBold";
    src: url("../fonts/PlayfairDisplay_bold/PlayfairDisplay-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "PlayfairRegular";
    src: url("../fonts/PlayfairDisplay_regular/PlayfairDisplay-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "PTSansBold";
    src: url("../fonts/PT_Sans_bold/PTSans-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "PTSansRegular";
    src: url("../fonts/PT_Sans_regular/PTSans-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face{
    font-family: "PNBJBold";
    src: url("../fonts/postnobillsjaffna/PostNoBillsJaffna-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}